{
    "env": {
        "browser": true
    },
    "globals": {
        "Toggler": true
    },
    "extends": "airbnb-base",
    "rules": {
        "brace-style": ["error", "stroustrup"],
        "indent": 0,
        "linebreak-style": 0,
        "no-unused-vars": 1,
        "no-underscore-dangle": 0
    }
}